
body {
    background-color: RGB(37,37,38);
    background-color: var(--background_col);
    margin: 0px;
    color: white;
    color: var(--font_col);
}

.res_container{
    
    overflow: hidden;    
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
}

    .res_container img {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }

.department_info {
    z-index: -1;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:768px;
    flex-direction: column;
}

.table_container{
    margin-top: 4%;
    margin-bottom: 4%;
    height: 80%;
    z-index: 1;
}

    .table_container table {
        height: 100%;
        border-collapse: collapse;
        border-spacing: 0px;
        width: 100%;
        border: 0px;
        text-align: center;
        font-family: Arial, Verdana;
        font-weight: 500;
        font-size: 25px;
    }

    .table_container th {
        font-size: 30px;
        color: white;
        color: #99CC00;
        color: var(--th_font_color);
        height: 5%;
        font-weight: 600;
    }

    .table_container tr:nth-child(even) {
        background-color: RGB(45,45,48);
        background-color: var(--tr_background_col_nth);
    }

    .table_container tr:nth-child(odd) {
        background-color: none;
    }

#pageindex {
    position: absolute;
    left: 4%;
    top: 0;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Verdana;
    font-size: 40px;
    color: #99CC00;
    color: var(--pagenum_font_col)
}

.content_header {
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #99CC00;
    color: var(--header_font_col);
    font-weight: 600;
    font-family: Arial, Verdana;
    font-size: 70px;
    background: #131313;
    background: var(--header_back_col);
    box-shadow: 0px 0px 15px #131313;
    box-shadow: 0px 0px 15px var(--header_shadow_col);
    height: 12%;
}

.no_content_set {
    color: white;
    color: var(--header_font_col);
    font-weight: 600;
    font-family: Arial, Verdana;
    font-size: 50px;
}

.split_table_left {
    width: 43% !important;
    margin-left: 4% !important;
    /*height: 75% !important;*/
    float: left;
}

.split_table_right {
    width: 43% !important;
    margin-right: 4% !important;
    /*height: 75% !important;*/
    float: right;
}

.split_table_center {
    width: 43% !important;
    margin-right: 26% !important;
    margin-left: 26% !important;
    /*height: 75% !important;*/
}


/*  Styling for timetable sidebar tiles */

#timetable_container {
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /*Fallback for IE users since IE doesnt support space-evenly*/
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

/* DIV which contains tile divs */
#info_sidebar {
    width: 25%;
    height: 100%;
    overflow: visible;
    float: left;
    display: flex;
    display: var(--displaySidebarContainer);
    flex-direction: column;
}

#class_details{
    display: block;
    display: var(--displayClassDetailsTile);
}

#upcoming_exams {
    display: block;
    display: var(--displayUpcomingExamsTile);
    height: var(--upcomingExamsHeight);
}

/* Tile div general appearance */
#class_details, #upcoming_exams {
    font-family: Arial, Verdana;
    border: #131313 5px solid;
    border: var(--timetable_border_col) 5px solid;
    border-radius: 5px;
    padding-bottom: 10px;
    letter-spacing: 0.05em;
    margin-bottom: 5vh;
    margin-right: 0;
}

    /* Tile div text styling */
    #class_details > h3, #upcoming_exams > div > h4 {
        font-size: 2.5vh;
        margin-top: 0.2vh;
        margin-bottom: 0.5vh;
        margin-left: 20%;      
        font-weight: lighter;
    }

    #class_details > h4, #upcoming_exams > div > h3 {
        font-size: 2vh;
        margin-top: 0.2vh;
        margin-bottom: 0.2vh;
        background-color: RGB(45,45,48);
        background-color: var(--tr_background_col_nth);
        margin-right: 5%;
        margin-left: 5%;
    }

    #upcoming_exams > h3, #upcoming_exams > div > h4 {
        font-size: 2vh;
    }

    #class_details > h4::before, #upcoming_exams > div > h3::before {
        content: "⨯ ";
        margin-left: 10%;
    }

    #upcoming_exams .sidebar_header, #class_details > .sidebar_header {
        background-color: #131313;
        background-color: var(--timetable_border_col);
        color: #99CC00;
        color: var(--timetable_tileHeaderText_col);
        font-size: 2.3vh;
        text-align: center;
        font-weight: bolder;
        margin-bottom: 2vh;
    }


/*DIV which contains the timetable*/
#timetable {
    width: 70%;
    width: var(--timetableWidth);
    float: right;
    height: 100%;
}

    /* CSS timetable general styling */
    #timetable .table {
        display: table;
        width: 100%;
        border-spacing: 0px;
        height: 100%;
        text-align: center;
        font-family: Arial, Verdana;
        font-size: 3vh;
        letter-spacing: 0.05em;
        table-layout: fixed;
        border: #131313 5px solid;
        border: var(--timetable_border_col) 5px solid;
        border-radius: 5px;
    }

    /* DIV Css tabledata styling */
    #timetable .td {
        display: table-cell;
        width: 19%;
        padding: 0px;
        vertical-align: middle;
    }

        #timetable .td > div {
            overflow: hidden;
            width: 100%
        }

    /* DIV Css tablerow styling */
    #timetable .tr {
        display: table-row;
    }

    #timetable .tr:nth-child(2n+4) {
        background-color: RGB(45,45,48);
        background-color: var(--tr_background_col_nth);
    }

    /* Header row styling */
        #timetable .tr:nth-child(1), #timetable .tr:nth-child(2) {
            background: #131313;
            background: var(--timetable_border_col);
            box-shadow: 0px 0px 10px #131313;
            box-shadow: 0px 0px 10px var(--timetable_border_col);
        }

/* Styling for specific cells like cancellation, replacements etc */
.timetable_headDay {
    font-size: 2vh;
    color: #99CC00;
    color: var(--timetable_tileHeaderText_col);
    font-weight: bolder;
}

.timetable_headDate {
    font-weight: bolder;
    font-size: 1.5vh;
    color: #99CC00;
    color: var(--timetable_tileHeaderText_col);
}

.timetable_lessonMovedIn {
    color: #99CC00;
    color: var(--timetable_lessonMovedIn_textCol);
}

.timetable_lessonMovedOut  {
    color: red;
    color: var(--timetable_lessonMovedOut_textCol);
}

.timetable_lessonCancelled {
    color: red;
    color: var(--timetable_lessonCancelled_textCol);
}

.timetable_lessonMovedIn, .timetable_lessonMovedOut, .timetable_lessonCancelled {
    font-size: 1.8vh;
}

    .timetable_lessonMovedOut > .timetable_subjectInfo, .timetable_lessonMovedOut > .timetable_teacherInfo,
        .timetable_lessonCancelled > .timetable_subjectInfo, .timetable_lessonCancelled > .timetable_teacherInfo,
        .timetable_lessonMovedIn > .timetable_subjectInfo, .timetable_lessonMovedIn > .timetable_teacherInfo {
        display: inline;
        /*text-decoration: line-through;*/
    }

        .timetable_lessonMovedIn > .timetable_subjectInfo::after, .timetable_lessonMovedOut > .timetable_subjectInfo::after,
            .timetable_lessonCancelled > .timetable_subjectInfo::after {
            content: " / ";
        }

    .timetable_lessonCancelled::after {
        content: "Entfällt";
        display: block;
        font-size: 2vh;
        font-weight: bolder;
        color: red;
        color: var(--timetable_lessonCancelled_textCol);
    }

.timetable_lessonNum {
    width: 5% !important;
    font-size: 2vh;
    background: #131313;
    background: var(--timetable_border_col);
}

.timetable_lessonMovedInfo {
    font-size: 2vh;
    margin-right: 10%;
    margin-left: 10%;
    font-weight: bolder;
}

.timetable_subjectInfo {
    font-weight: bolder;
}

.timetable_lesson .timetable_teacherInfo{display:none;}

.timetable_exam {
    display: none;
    border: 3px solid var(--timetable_examInfoCol);
    border-radius: 3px;
    padding: 3px;
    color: var(--timetable_examInfoCol);
}

/* Styling for class information displayed over the header row */

.class_information{
    word-break: break-word;
    font-size: 25px !important;
    width: 30% !important;
    text-align: left !important;
}

/* JS Clock on right side of header */

#js_clock {
    position: absolute;
    right: 4%;
    top: 0;
    height: 12%;
    display: var(--displayClockTile);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Verdana;
    font-size: 55px;
    color: #99CC00;
    color: var(--pagenum_font_col)
}

#js_clock > #second{
    font-size: 40px;
}

/*Exam warning screen*/

#exam_warning_sign {
    font-size: 85vh;
    color: var(--timetable_examInfoCol);
    font-family: Arial, Verdana;
    line-height: 1em;
    text-align: center;
}

#exam_warning_text {
    font-size: 13vh;
    color: var(--timetable_examInfoCol);
    font-family: Arial, Verdana;
    text-align: center;
}


