
@import url(/CSS/theme_dark.css);

body {
    background-color: RGB(37,37,38);
    background-color: var(--background_col);
    margin: 0px;
    color: white;
    color: var(--font_col);
}

.res_container{
    
    overflow: hidden;    
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
}

    .res_container img {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }

.department_info {
    z-index: -1;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:768px;
    flex-direction: column;
}

.table_container{
    margin-top: 4%;
    margin-bottom: 4%;
    height: 80%;
    z-index: 1;
}

    .table_container table {
        height: 100%;
        border-collapse: collapse;
        border-spacing: 0px;
        width: 100%;
        border: 0px;
        text-align: center;
        font-family: Arial, Verdana;
        font-weight: 500;
        font-size: 25px;
    }

    .table_container th {
        font-size: 30px;
        color: white;
        color: #99CC00;
        color: var(--th_font_color);
        height: 5%;
        font-weight: 600;
    }

    .table_container tr:nth-child(even) {
        background-color: RGB(45,45,48);
        background-color: var(--tr_background_col_nth);
    }

    .table_container tr:nth-child(odd) {
        background-color: none;
    }

#pageindex {
    position: absolute;
    left: 4%;
    top: 0;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Verdana;
    font-size: 40px;
    color: #99CC00;
    color: var(--pagenum_font_col)
}

.content_header {
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    color: #99CC00;
    color: var(--header_font_col);
    font-weight: 600;
    font-family: Arial, Verdana;
    font-size: 70px;
    background: #131313;
    background: var(--header_back_col);
    box-shadow: 0px 0px 15px #131313;
    box-shadow: 0px 0px 15px var(--header_shadow_col);
    height: 12%;
}

.no_content_set {
    color: white;
    color: var(--header_font_col);
    font-weight: 600;
    font-family: Arial, Verdana;
    font-size: 50px;
}

.split_table_left {
    width: 43% !important;
    margin-left: 4% !important;
    /*height: 75% !important;*/
    float: left;
}

.split_table_right {
    width: 43% !important;
    margin-right: 4% !important;
    /*height: 75% !important;*/
    float: right;
}

.split_table_center {
    width: 43% !important;
    margin-right: 26% !important;
    margin-left: 26% !important;
    /*height: 75% !important;*/
}


/*  Styling for timetable  */

#timetable_container{
    height:100%;
    margin:2%;
}

#info_sidebar{
    width:20%;
    height:100%;
    float:left;
}

#timetable {
    width: 80%;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

    #timetable table, #timetable tbody, #timetable tr, #timetable td {
        height: 100%;
        width: 100%;
    }

.timetable_dayColumn {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
}

.timetable_dayColumn div{
    flex-grow:1;
}



