
@import url(/CSS/theme_light.css);

body {
    background-color: var(--background_col);
    margin: 0px;
    color: var(--font_col);
}

.res_container{
    
    overflow: hidden;    
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
}

    .res_container img {
        min-height: 100%;
        min-width: 1024px;
        /* Set up proportionate scaling */
        width: 100%;
        height: auto;
        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
    }

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    .res_container img {
        left: 50%;
        margin-left: -512px; /* 50% */
    }
}

.department_info {
    z-index: -1;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:768px;
    flex-direction: column;
}

.table_container{
    margin-top: 4%;
    margin-bottom: 4%;
    height: 80%;
    z-index: 1;
}

    .table_container table {
        height: 100%;
        border-collapse: collapse;
        border-spacing: 0px;
        width: 100%;
        border: 0px;
        text-align: center;
        font-family: Arial, Verdana;
        font-weight: 500;
        font-size: 25px;
    }

    .table_container th {
        font-size: 30px;
        color: var(--th_font_color);
        height: 5%;
        font-weight: 600;
    }

    .table_container tr:nth-child(even) {
        background-color: var(--tr_background_col_nth);
    }

    .table_container tr:nth-child(odd) {
        background-color: none;
    }

#pageindex {
    position: absolute;
    left: 4%;
    top: 0;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Verdana;
    font-size: 40px;
    color: var(--pagenum_font_col)
}

.content_header {
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--header_font_col);
    font-weight: 600;
    font-family: Arial, Verdana;
    font-size: 70px;
    background: var(--header_back_col);
    box-shadow: 0px 0px 15px var(--header_shadow_col);
    height: 12%;
}





