:root {
    --background_col: RGB(37,37,38);
    --tr_background_col_nth: RGB(45,45,48);
    --header_back_col: #131313;
    --header_shadow_col: #131313;
    --header_font_col: #99CC00;
    --font_col: white;
    --th_font_color: #99CC00;
    --pagenum_font_col: #99CC00;
    --timetable_border_col: #131313;
    --timetable_tileHeaderText_col: #99CC00;
    --timetable_lessonCancelled_textCol: red;
    --timetable_lessonMovedIn_textCol: #99CC00;
    --timetable_lessonMovedOut_textCol: red;
    --timetable_examInfoCol: red;
}
