@import "sliderStyle.css";

table[title="Calendar"] {
    border: 2px solid #86b300 !important;
    border-radius:3px !important;
    border-collapse:separate !important;
}

    table[title="Calendar"] tbody {
        background: #f2ffcc;
       
    }

    table[title="Calendar"] table tbody {
        
    }

    table[title="Calendar"] tbody tr:first-Child td {
        background: #99CC00 !important;
        
    }

    table[title="Calendar"] a {
        text-decoration:none;
    }

input[type="file"]{

    width: 0.1px;
    height: 0.1px;
    position:absolute;
    overflow:hidden;
    z-index:0;
    opacity:0;

}

.FileInput {

    border-radius: 1px;
    background-color: #ccffcc;
    border: 0px;
    font-family: 'Verdana',sans-serif;
    border-bottom: solid 3px #70db70;
    height: 25px;
    padding:2px !important;
    transition: border 0.15s;
    cursor: pointer;

}

    .FileInput:hover {
        border-bottom: solid 3px #ccffcc;
    }

    .FileInput:before {
        content: "📁";
        padding-right: 5px;
        font-weight: bold;
    }


    #ScrollDown {
        position: fixed;
        right: 40%;
        bottom: 0;
        width: 5%;
        height: 30px;
        z-index: 20;
        background: #0e0e0e;
        color: #99CC00;
        box-shadow: 40px 40px 5px #99CC00;
        border-radius: 60px 60px 0 0;
        text-align: center;
        font-size: 20px;
        cursor: pointer;
        font-weight: 800;
        transition: background 0.3s ease;
    }
    #ScrollDown:hover {
        background: #1a1a1a;
    }


input[type="text"] {
    border: none;
    border-bottom: solid 2px #99cc00;
    background: #f2ffcc;
    height: 25px;
    border-radius: 2px;
    max-width:1000px;
}

    input[type="text"]:disabled {
        background: #ffebe6;
        border-bottom: solid 2px #ffd6cc;
        color:black;
    }

input[type="password"] {
    border: none;
    border-bottom: solid 2px #99cc00;
    background: #f2ffcc;
    height: 25px;
    border-radius: 2px;
    max-width: 1000px;
    color: #99cc00;
}

    .ActionButton {
        border-radius: 1px;
        background-color: #d9d9d9;
        border: 0px;
        font-family: 'Verdana',sans-serif;
        border-bottom: solid 3px #a6a6a6;
        height: 29px;
        transition: border 0.15s;
        cursor: pointer;
    }

    .ActionButton:hover {
        border-bottom: solid 3px #d9d9d9;
    }

.SaveButton {
    border-radius: 1px;
    background-color: #ccffcc;
    border: 0px;
    font-family: 'Verdana',sans-serif;
    border-bottom: solid 3px #70db70;
    height: 29px;
    transition: border 0.15s;
    cursor: pointer;
}

    .SaveButton:hover {
        border-bottom: solid 3px #ccffcc;
    }

.DeleteButton {
    border-radius: 1px;
    background-color: #ffe6e6;
    border: 0px;
    font-family: 'Verdana',sans-serif;
    border-bottom: solid 3px #ff6666;
    height: 29px;
    transition: border 0.15s;
    cursor: pointer;
}

    .DeleteButton:hover {
        border-bottom: solid 3px #ffe6e6;
    }

select::-ms-expand {
    display: none;
}


select {
    border: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #ccccff;
    border-bottom: 3px solid #6666ff;
    border-top: 3px solid #ccccff;
    padding: 2px;
    width: 150px;
    border-radius: 1px;
    transition: border 0.15s;
    cursor: pointer;
    height: 28px;
    padding-right: 30px;
}

.selectWrap {
    
    display: inline;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

    .selectWrap::after {
        content: '𐠠';
        cursor: pointer;
        position: absolute;
        left: 130px;
        pointer-events: none;        
    }

    .selectWrap:hover::after {
        color: #000066;
    }

select:hover {
    border-bottom: 3px solid #ccccff;
}

.picker {
    min-height: 10%;
    width: 35%;
    margin: 0 auto;
    position: fixed;
    top: 10%;
    left: 35%;
    z-index: 100;
    background: white;
    border: 5px solid #99CC00;
    border-radius: 10px;
    padding: 10px;
}

.cover {
    height: 100%;
    width: 100%;
    top: 32px;
    left:220px;
    
    position: fixed;
    z-index: 98;
    background: black;
    opacity: 0.8;
}

.CheckWrapper {
    width:100%;
}

    .CheckWrapper div {    
        margin-left: 5%;
    }
    .CheckWrapper input {
        margin-left: 5%;
    }

.input_val{
    display:block;
    width:100%;
    text-align:center;
}   

.feature_checkbox{
    display:none;
}

.checkbox_hit {
    cursor: pointer;
    display: block;
    background: #86b300;
    color: #86b300;
    user-select: none;
    border: 1px transparent solid;
    border-radius: 1em;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    transition: background 0.2s, color 0.2s, border 0.2s;
    background-clip: padding-box;
}
    .checkbox_hit:hover {
        border-color: #99CC00;
        background: #99CC00;
        color: #99CC00;
        background-clip: padding-box;
    }


    .checkbox_hit.unchecked:hover {
        border-color: red;
        background: red;
        color: red;
        background-clip: padding-box;
    }
    .checkbox_hit.unchecked {
        border-color: transparent;
        background: #cc0c00;
        color: #cc0c00;
        background-clip: padding-box;
    }
    
    




