.ui-slider .ui-slider-handle{
    height: .5em !important;
    width: .5em !important;
}

.ui-slider-horizontal .ui-slider-handle{
    top: -.3em !important;
    border-radius: 50% !important;
}

.ui-slider-horizontal{
    height: 0.4em !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 4px solid #86b300 !important;
    background: #99CC00 !important;
    transition: border 0.2s !important;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 4px solid #99CC00 !important;
}
