@page "{pagenum}"
@model ScreenCoreApp.ConsultationsModel
@{
    ViewData["Title"] = "Consultations";
}
<div class="content_header">
    Sprechstunden
</div>
<div class="department_info">

    

</div>
