@page
@model ScreenCoreApp.DepartmentInfoModel
@{
    ViewData["Title"] = "DepartmentInfo";
}
<div class="content_header">
    Abteilungs - Info
</div>
<div class="department_info">
    
     @Html.Raw(Model.InfoHtmlMarkup)
             
</div>


