@page
@model ScreenCoreApp.ExamWarningModel
@{
    ViewData["Title"] = "ExamWarning";
}

<div class="content_header"> Achtung! </div>
<div class="exam_warning_sign">
    ⚠
</div>

<div class="exam_warning_text" style="display:none">
    <h1>Achtung blabla Test</h1>
</div>

