@page "{slide}"
@model ScreenCoreApp.Pages.ContentPages.PowerPointModel
@{
    ViewData["Title"] = "PowerPoint";
}
<div id="image_container">

</div>
<script>
    //image style is optimized for 1024x768 resolution on infoscreens

    var slide_id = @Model.Slide;
    var presentation = @Model.Webpath;
    var slide_preload = parent.document.getElementById(presentation + "/" + slide_id);

    if (slide_preload == null) {
        parent.window.location.reload(true);
    }
    else document.getElementById("image_container").innerHTML = slide_preload.innerHTML;


</script>




