@page "{slide:int}"
@model ScreenCoreApp.Pages.ContentPages.PowerPointModel
@{
    ViewData["Title"] = "PowerPoint";
}
<div id="image_container">

</div>
<script>
    //image style is optimized for 1024x768 resolution on infoscreens

    var slide_id = @Model.GetPresentationSource();
    var slide_preload = parent.document.getElementById(slide_id);

    if (slide_preload == null) parent.location.reload(); // Reload parent page if source picture couldnt be found
    
    document.getElementById("image_container").innerHTML = slide_preload.innerHTML;


</script>




