@page "{pagenum}"
@model ScreenCoreApp.ReplacementsModel
@{
    ViewData["Title"] = "Replacements";
}
<div class="content_header">
    Supplierungen
</div>


<div class="table_container">

    @if (Model.NoReplacements && Model.Globals.Length < 1)
    {
        <div class="department_info">
            <div style="color: #99CC00; font-weight: 600; font-family: Arial, Verdana; font-size: 50px;">Keine Supplierungen eingetragen</div>
        </div>
    }
    else
    {
        <div id="pageindex">Seite @Model.Pagenum</div>

        <table>
            <tbody>

               
                <tr>
                    <th style="width:15%">Datum</th>
                    <th style="width:10%">Klasse</th>
                    <th style="width: 10%">Stunde</th>
                    <th style="width:15%">Fach</th>
                    <th style="width:15%">Lehrer</th>
                    <th style="width:35%">Vertretung</th>
                </tr>
                

                @Html.Raw(Model.GenerateReplacementRows())
                @Html.Raw(Model.GenerateGlobalRows())
                @Html.Raw(Model.GenerateFillerRows())

            </tbody>
        </table>
    }

</div>

