@page "{pagenum}"
@model ScreenCoreApp.RoomsModel
@{
    ViewData["Title"] = "Rooms";
}
<div class="content_header">
    Raumaufteilung
</div>
<div id="pageindex">Seite @Model.Pagenum</div>

<div class="table_container">
    @if (Model.split)
    {
        <table class="split_table_left">
            <tbody>
                @Html.Raw(Model.CreateSplitTable(Model.item_start, Model.item_start + 10))
            </tbody>
        </table>
        <table class="split_table_right">
            <tbody>
                @Html.Raw(Model.CreateSplitTable(Model.item_start + 11, Model.item_end))
            </tbody>
        </table>
    }
    else
    {
        <table class="split_table_center">
            <tbody>
                @Html.Raw(Model.CreateSplitTable(Model.item_start, Model.item_end))
            </tbody>
        </table>
    }


</div>