@page
@model ScreenCoreApp.TimetableModel
@{
    ViewData["Title"] = "Stundenplan";
}

<div class="content_header">
    @Model.ClassName
</div>

<div id="timetable_container">

    <div id="info_sidebar">



    </div>

    <div id="timetable">      
        <div class="table">
            @for (int row = 0; row < Model.LessonCount+2; row++)
            {
                <div class="tr">
                    <div class="td timetable_lessonNum">@(row > 1 ? (row-( Model.ZerothLesson ? 2 : 1)).ToString() : "")</div>
                    @for (int col = 0; col <= 4; col++)
                    {
                        @Html.Raw(Model.Days[col].HtmlTableData[row])
                    }
                </div>                   
            }
        </div>   
    </div>

</div>
