@page
@model ScreenCoreApp.TimetableModel
@{
    ViewData["Title"] = "Stundenplan";
}

<div class="content_header">
    @Model.ClassName
</div>

<div id="pageindex" class="class_information">@Model.ClassInformation</div>

<div id="timetable_container">

    <div id="info_sidebar">
        <div id="class_details">
            <h4>Raum-Nummer</h4>
            <h3>30-4200</h3>
            <h4>Klassenvorstand</h4>
            <h3>Kutti is life</h3>
            <h4>Klassensprecher</h4>
            <h3>Alex is love</h3>
        </div>

        <div id="upcoming_exams">

        </div>

    </div>

    <div id="timetable">      
        <div class="table">
            @for (int row = 0; row < Model.LessonCount+2; row++)
            {
                <div class="tr">
                    <div class="td timetable_lessonNum">@(row > 1 ? (row-( Model.ZerothLesson ? 2 : 1)).ToString() : "")</div>
                    @for (int col = 0; col <= 4; col++)
                    {
                        @Html.Raw(Model.Days[col].HtmlTableData[row])
                    }
                </div>                   
            }
        </div>   
    </div>

</div>
