@page
@model ScreenCoreApp.TimetableModel
@{
    ViewData["Title"] = "Stundenplan";
}
<div class="content_header">
    @Model.ClassName
</div>

<div id="timetable_container">

    <div id="info_sidebar">



    </div>

    <div id="timetable">       
        @foreach (ScreenCoreApp.Classes.HtmlTimetableColumn day in Model.Days)
        {                   
                @Html.Raw(day.CreateTableMarkup())                       
        }       
    </div>

</div>
