@page
@model ScreenCoreApp.Pages.IndexModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width" />
    <title>InfoScreenV6 @ViewData["Title"]</title>

    <link rel="stylesheet" href="~/CSS/Index.css">

    <script>
        // Declare necessary global setting variables

        var switchTimeMs = @Infoscreen_Verwaltung.classes.DatenbankAbrufen.GetSettingValue("switchTimeMs") ;

    </script>
    <script src="~/JS/Index.js"></script>

</head>

    <body>

        <iframe id ="view_frame" class="iframe_full"></iframe>
        <iframe id="preload_frame" style="display: none" class="iframe_full"></iframe>

        <table id="powerpoint-preload">
            @Html.Raw(Model.GeneratePreloadHtmlCode())
        </table>


    </body>

</html>
