@page
@model ScreenCoreApp.Pages.NoContentModel
@{
    ViewData["Title"] = "NoContent";
}
<div class="content_header">
    InfoScreen V6
</div>
<div class="department_info">
    <div class="no_content_set">Dieser Inhalt kann auf diesem Bildschirm leider nicht angezeigt werden</div>
</div>
