@page
@model ScreenCoreApp.Pages.NoContentModel
@{
    ViewData["Title"] = ViewData["Error"];
}
<div class="content_header">
    InfoScreen V6
</div>
<div class="department_info">
    <div class="no_content_set" style="font-size: 7vh"> Error @ViewData["Error"] <br /></div>
    <div class="no_content_set" style="font-size: 4vh">
        @Html.Raw(ViewData["error_hint"])
    </div>
    </div>
